<div class="grid">
    <div class="col full">
        <h1>Full Width</h1>
    </div>
</div>
<div class="grid">
    <div class="col half">
        <h2>Half Width</h2>
    </div>
    <div class="col half">
        <h2>Half Width</h2>
    </div>
</div>
<div class="grid">
    <div class="col half">
        <h2>Half Width</h2>
    </div>
    <div class="col quarter">
        <h2>Quarter Width</h2>
    </div>
    <div class="col quarter">
        <h2>Quarter Width</h2>
    </div>
</div>
<div class="grid">
    <div class="col third">
        <h2>Third Width</h2>
    </div>
    <div class="col two-thirds">
        <h2>Two Thirds Width</h2>
    </div>
</div>
<div class="grid ">
    <div class="col two-thirds">
        <div class="grid ">
            <div class="col quarter">
                <h3>Quarter Width</h3>
            </div>
            <div class="col quarter">
                <h3>Quarter Width</h3>
            </div>
            <div class="col quarter">
                <h3>Quarter Width</h3>
            </div>
            <div class="col quarter">
                <h3>Quarter Width</h3>
            </div>
        </div>
    </div>
    <div class="col third">
        <div class="display">
            <h3>Third Width</h3>
        </div>
    </div>
</div>