<div class="grid">
    <div class="col full">
        <h1>Full Width</h1>
    </div>
</div>
<div class="grid">
    <div class="col half">
        <h2>Half Width</h2>
    </div>
    <div class="col half">
        <h2>Half Width</h2>
    </div>
</div>
<div class="grid">
    <div class="col half">
        <h2>Half Width</h2>
    </div>
    <div class="col quarter">
        <h2>Quarter Width</h2>
    </div>
    <div class="col quarter">
        <h2>Quarter Width</h2>
    </div>
</div>
